p {
  margin: 3px 0;
}
.post_border {
  overflow: scroll;
  position: absolute;
  max-width: 650px;
  height: 90%;
  background-color: rgb(231, 232, 231);
  /* border: 1px solid lightgray; */
  margin-top: 25px;
  margin-left: 500px;
  transform: translateX(-70%);
  z-index: 10;
  font-family: sans-serif;
}
.post_body {
  /* width:90%; */
  object-fit: contain;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  /* border-top: 1px solid lightgray; */
  border-bottom: 1px solid lightgray;
}
.post_header {
  background-color: rgb(215, 223, 221);
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 20px;
  color: white;
}
.post_comment {
  /* font-family: sans-serif; */
  margin-top: 35px;
  font-style: oblique;
  color: rgb(24, 23, 23);
}
.comment_header {
  /* display: flex;
    align-items: center; */
  padding: 20px;
}
.read-more-less--more,
.read-more-less--less {
  color: #999;
}

.labels {
  display: "flex";
}
.information {
  /* margin-left:30px, */
  border-left: 30px;
  margin-left: 20px;
}
